* {
    scroll-behavior: smooth;
    
    
}
#intro {
    
    text-align: center;
    height: 100%;
    
}
#logout:hover {
    color: black;
}


html body {
    background-image: url("https://wallpapercave.com/wp/wp6183381.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: small;
    
    
}

html h1{
    font-weight: 700;
    font-size: 4em;
    border-color: white;
    border-bottom: 3px solid rgba(255,255,255,0.8);
}
html hr {
    color: white;
}


.jumbotron {
    background: none;
}
#project {
   background: none;
   height: 100%;

}

.center {
    width: 50%;
    margin: auto;
}



#contact {
    /* float: left; */
   
    margin: auto;
    
}



#project ul{
    font-size: large;
}

.wrapper {
    border-radius:  24px;
    border: 12px outset rgba(69, 15, 29,0.5);
    
    
    background-color:rgba(23, 4, 32,0.9);
}



