#intro {
    text-align: center;
    padding-top: 15%;
}

html body {
    background-image: url("https://images.unsplash.com/photo-1572020478232-4d96c19d6154?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    
}
html h1{
    font-weight: 700;
    font-size: 5em;
    border-color: white;
    border-bottom: 3px solid rgba(255,255,255,0.8);
}
html hr {
    color: white;
}

